In [250]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Creando y revisando los datafreme de los archivos

####  Archivo Acceso al inernet fijo por tecnologia y localidad

In [251]:
df_accesotecnologia = pd.read_csv("AccesosaInternetfijoportecnologiaylocalidad_2791751699363858001.csv")

In [252]:
# Mostrar las primeras filas del DataFrame
df_accesotecnologia.head()

,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general,Unnamed: 13
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,874,"4,54",- 0,3,- 0,852,- 0,706,"6,98",NaN
1,BUENOS AIRES,25 de Mayo,Del Valle,6854020,181,- 0,- 0,- 0,10,1,- 0,- 0,192,NaN
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,- 0,- 0,- 0,- 0,- 0,- 0,- 0,181,181,NaN
3,BUENOS AIRES,25 de Mayo,Norberto de la Riestra,6854060,- 0,782,- 0,6,167,- 0,- 0,327,"1,28",NaN
4,BUENOS AIRES,25 de Mayo,Lucas Monteverde,6854050,- 0,- 0,- 0,- 0,- 0,- 0,- 0,6,6,NaN

In [253]:
# Obtener información general sobre el DataFrame
df_accesotecnologia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3137 entries, 0 to 3136
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      3137 non-null   object
 1   Partido        3137 non-null   object
 2   Localidad      3137 non-null   object
 3   Link Indec     3137 non-null   object
 4   ADSL           3137 non-null   object
 5   CABLEMODEM     3137 non-null   object
 6   DIAL UP        3137 non-null   object
 7   FIBRA OPTICA   3137 non-null   object
 8   OTROS          3137 non-null   object
 9   SATELITAL      3137 non-null   object
 10  WIMAX          3137 non-null   object
 11  WIRELESS       3137 non-null   object
 12  Total general  3137 non-null   object
 13  Unnamed: 13    0 non-null      float64
dtypes: float64(1), object(13)
memory usage: 343.2+ KB

In [254]:
# Resumen estadístico de las variables numéricas
df_accesotecnologia.describe()

       Unnamed: 13
count          0.0
mean           NaN
std            NaN
min            NaN
25%            NaN
50%            NaN
75%            NaN
max            NaN

In [255]:
# Identificando valores faltantes en cada columna
missing_values = df_accesotecnologia.isnull().sum()

In [256]:
# Identificando registros duplicados
duplicated_rows = df_accesotecnologia[df_accesotecnologia.duplicated()]

# Eliminar registros duplicados
df_accesotecnologia = df_accesotecnologia.drop_duplicates()

In [257]:
df_accesotecnologia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3137 entries, 0 to 3136
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      3137 non-null   object
 1   Partido        3137 non-null   object
 2   Localidad      3137 non-null   object
 3   Link Indec     3137 non-null   object
 4   ADSL           3137 non-null   object
 5   CABLEMODEM     3137 non-null   object
 6   DIAL UP        3137 non-null   object
 7   FIBRA OPTICA   3137 non-null   object
 8   OTROS          3137 non-null   object
 9   SATELITAL      3137 non-null   object
 10  WIMAX          3137 non-null   object
 11  WIRELESS       3137 non-null   object
 12  Total general  3137 non-null   object
 13  Unnamed: 13    0 non-null      float64
dtypes: float64(1), object(13)
memory usage: 343.2+ KB

####  Archivo Acceso al inernet fijo por velocidad bajada y provincia

In [213]:
df_accesovelocidad_pro = pd.read_csv("AccesosaInternetfijoporvelocidadbajadayprovincia_2791741699447503120.csv")

In [214]:
df_accesovelocidad_pro.head()

,Año,Trimestre,Provincia,Otros,"0,256 Mbps","0,375 Mbps","0,625 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",...,63 Mbps,64 Mbps,65 Mbps,66 Mbps,67 Mbps,68 Mbps,70 Mbps,71 Mbps,75 Mbps,77 Mbps
0,2022.0,4.0,Buenos Aires,97.634,18,- 0,- 0,28.724,192,4.611,...,- 0,- 0,14,- 0,- 0,- 0,5.655,- 0,90.796,- 0
1,2022.0,4.0,Capital Federal,106.772,31,- 0,- 0,451.000,34,1.307,...,- 0,- 0,- 0,1,- 0,- 0,15,- 0,28.406,- 0
2,2022.0,4.0,Catamarca,2.280,- 0,- 0,- 0,34.000,37,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
3,2022.0,4.0,Chaco,3.909,- 0,225,111,234.000,2,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
4,2022.0,4.0,Chubut,20.026,8,- 0,- 0,69.000,32,836,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0

In [215]:
df_accesovelocidad_pro.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 97 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Año         504 non-null    float64
 1   Trimestre   504 non-null    float64
 2   Provincia   504 non-null    object
 3   Otros       504 non-null    object
 4   0,256 Mbps  504 non-null    object
 5   0,375 Mbps  504 non-null    object
 6   0,625 Mbps  504 non-null    object
 7   0,5 Mbps    504 non-null    float64
 8   0,512 Mbps  504 non-null    object
 9   0,75 Mbps   504 non-null    object
 10  1 Mbps      504 non-null    object
 11  1,2 Mbps    504 non-null    object
 12  1,25 Mbps   504 non-null    object
 13  1,5 Mbps    504 non-null    object
 14  2 Mbps      504 non-null    object
 15  2,2 Mbps    504 non-null    object
 16  2,5 Mbps    505 non-null    object
 17  6,7 Mbps    504 non-null    object
 18  3 Mbps      504 non-null    float64
 19  3,2 Mbps    504 non-null    object
 20  3,3 Mbps    504 non-null    object
 21  3,5 Mbps    504 non-null    object
 22  4 Mbps      504 non-null    object
 23  4,5 Mbps    504 non-null    object
 24  5 Mbps      504 non-null    object
 25  6 Mbps      504 non-null    object
 26  6,4 Mbps    504 non-null    object
 27  7 Mbps      504 non-null    object
 28  7,5 Mbps    504 non-null    object
 29  8 Mbps      504 non-null    object
 30  9 Mbps      504 non-null    object
 31  10 Mbps     504 non-null    float64
 32  10,2 Mbps   504 non-null    object
 33  10,6 Mbps   504 non-null    object
 34  11 Mbps     504 non-null    object
 35  12 Mbps     504 non-null    object
 36  12,3 Mbps   504 non-null    object
 37  13 Mbps     504 non-null    object
 38  14 Mbps     504 non-null    object
 39  15 Mbps     504 non-null    object
 40  16 Mbps     504 non-null    object
 41  17 Mbps     504 non-null    object
 42  18 Mbps     504 non-null    object
 43  19 Mbps     504 non-null    object
 44  20 Mbps     504 non-null    object
 45  20,5 Mbps   504 non-null    object
 46  21 Mbps     504 non-null    object
 47  22 Mbps     504 non-null    object
 48  23 Mbps     504 non-null    object
 49  24 Mbps     504 non-null    object
 50  25 Mbps     504 non-null    object
 51  25,1 Mbps   504 non-null    object
 52  25,11 Mbps  504 non-null    object
 53  25,5 Mbps   504 non-null    object
 54  26 Mbps     504 non-null    object
 55  27 Mbps     504 non-null    object
 56  28 Mbps     504 non-null    object
 57  29 Mbps     504 non-null    object
 58  30 Mbps     504 non-null    object
 59  31 Mbps     504 non-null    object
 60  32 Mbps     504 non-null    object
 61  34 Mbps     504 non-null    object
 62  35 Mbps     504 non-null    object
 63  36 Mbps     504 non-null    object
 64  37 Mbps     504 non-null    object
 65  38 Mbps     504 non-null    object
 66  39 Mbps     504 non-null    object
 67  40 Mbps     504 non-null    object
 68  41 Mbps     504 non-null    object
 69  45 Mbps     504 non-null    object
 70  46 Mbps     504 non-null    object
 71  47 Mbps     504 non-null    object
 72  48 Mbps     504 non-null    object
 73  49 Mbps     504 non-null    object
 74  50 Mbps     504 non-null    object
 75  50,1 Mbps   504 non-null    object
 76  51 Mbps     504 non-null    object
 77  50,25 Mbps  504 non-null    object
 78  52 Mbps     504 non-null    object
 79  54 Mbps     504 non-null    object
 80  55 Mbps     504 non-null    object
 81  56 Mbps     504 non-null    object
 82  58 Mbps     504 non-null    object
 83  59 Mbps     504 non-null    object
 84  60 Mbps     504 non-null    object
 85  61 Mbps     504 non-null    object
 86  62 Mbps     504 non-null    object
 87  63 Mbps     504 non-null    object
 88  64 Mbps     504 non-null    object
 89  65 Mbps     504 non-null    object
 90  66 Mbps     504 non-null    object
 91  67 Mbps     504 non-null    object
 92  68 Mbps     504 non-null    object
 93  70 Mbps     504 non-null    object
 94  71 Mbps     504 non-null    object
 95  75 Mbps     504 non-null    object
 96  77 Mbps     504 non-null    object
dtypes: float64(5), object(92)
memory usage: 382.8+ KB

In [216]:
df_accesovelocidad_pro.describe()

               Año   Trimestre      0,5 Mbps        3 Mbps        10 Mbps
count   504.000000  504.000000    504.000000    504.000000     504.000000
mean   2019.857143    2.571429    135.160514    536.427409    1830.656857
std       1.522341    1.138019   1281.313402   3423.594162   13716.783075
min    2017.000000    1.000000      1.009000      1.029000       1.000000
25%    2019.000000    2.000000     19.000000      5.910000       7.161500
50%    2020.000000    3.000000     39.000000      9.833000      20.563500
75%    2021.000000    4.000000     69.000000     27.000000      92.386750
max    2022.000000    4.000000  28724.000000  53034.000000  204191.000000

In [217]:
# Identificando valores faltantes en cada columna
missing_values = df_accesovelocidad_pro.isnull().sum()

In [218]:
# Identificando registros duplicados
duplicated_rows = df_accesovelocidad_pro[df_accesovelocidad_pro.duplicated()]

# Eliminar registros duplicados
df_accesovelocidad_pro = df_accesovelocidad_pro.drop_duplicates()

####  Archivo Acceso al inernet fijo por velocidad de bajada y localidad

In [219]:
df_accesovelocidad_local = pd.read_csv ("AccesosaInternetfijoporvelocidaddebajadaylocalidad_2776171699363662004.csv")

In [220]:
df_accesovelocidad_local.head()

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256 Mbps","0,375 Mbps","0,5 Mbps","0,512 Mbps","0,625 Mbps",...,61 Mbps,62 Mbps,64 Mbps,65 Mbps,66 Mbps,70 Mbps,75 Mbps,78 Mbps,80 Mbps,83 Mbps
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,NaN,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BUENOS AIRES,25 de Mayo,Ernestina,6854030,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [258]:
df_accesovelocidad_local.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 83 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Provincia   3095 non-null   object
 1   Partido     3095 non-null   object
 2   Localidad   3095 non-null   object
 3   Link Indec  3095 non-null   object
 4   Otros       962 non-null    float64
 5   0,256 Mbps  28 non-null     float64
 6   0,375 Mbps  1 non-null      float64
 7   0,5 Mbps    643 non-null    float64
 8   0,512 Mbps  523 non-null    float64
 9   0,625 Mbps  1 non-null      float64
 10  0,75 Mbps   284 non-null    float64
 11  1 Mbps      891 non-null    float64
 12  1,25 Mbps   1 non-null      float64
 13  1,5 Mbps    15 non-null     float64
 14  2 Mbps      722 non-null    float64
 15  2,2 Mbps    1 non-null      float64
 16  2,5 Mbps    4 non-null      float64
 17  3 Mbps      1351 non-null   float64
 18  3,3 Mbps    1 non-null      float64
 19  3,5 Mbps    373 non-null    float64
 20  4 Mbps      534 non-null    float64
 21  4,5 Mbps    1 non-null      float64
 22  5 Mbps      1003 non-null   float64
 23  6 Mbps      1413 non-null   float64
 24  6,4 Mbps    1 non-null      float64
 25  7 Mbps      225 non-null    float64
 26  7,5 Mbps    4 non-null      float64
 27  8 Mbps      630 non-null    float64
 28  9 Mbps      50 non-null     float64
 29  10 Mbps     1731 non-null   float64
 30  10,2 Mbps   1 non-null      float64
 31  11 Mbps     27 non-null     float64
 32  12 Mbps     306 non-null    float64
 33  12,3 Mbps   1 non-null      float64
 34  13 Mbps     16 non-null     float64
 35  14 Mbps     24 non-null     float64
 36  15 Mbps     1061 non-null   float64
 37  16 Mbps     16 non-null     float64
 38  17 Mbps     1 non-null      float64
 39  18 Mbps     20 non-null     float64
 40  20 Mbps     1106 non-null   float64
 41  20,5 Mbps   1 non-null      float64
 42  21 Mbps     5 non-null      float64
 43  22 Mbps     2 non-null      float64
 44  23 Mbps     2 non-null      float64
 45  24 Mbps     19 non-null     float64
 46  25 Mbps     457 non-null    float64
 47  25,1 Mbps   1 non-null      float64
 48  25,5 Mbps   1 non-null      float64
 49  26 Mbps     1 non-null      float64
 50  27 Mbps     1 non-null      float64
 51  30 Mbps     724 non-null    float64
 52  31 Mbps     4 non-null      float64
 53  32 Mbps     2 non-null      float64
 54  34 Mbps     1 non-null      float64
 55  35 Mbps     13 non-null     float64
 56  36 Mbps     3 non-null      float64
 57  38 Mbps     1 non-null      float64
 58  39 Mbps     1 non-null      float64
 59  40 Mbps     98 non-null     float64
 60  41 Mbps     1 non-null      float64
 61  45 Mbps     3 non-null      float64
 62  46 Mbps     1 non-null      float64
 63  48 Mbps     4 non-null      float64
 64  49 Mbps     1 non-null      float64
 65  50 Mbps     692 non-null    float64
 66  50,1 Mbps   1 non-null      float64
 67  50,25 Mbps  1 non-null      float64
 68  51 Mbps     2 non-null      float64
 69  55 Mbps     3 non-null      float64
 70  58 Mbps     1 non-null      float64
 71  59 Mbps     1 non-null      float64
 72  60 Mbps     261 non-null    float64
 73  61 Mbps     3 non-null      float64
 74  62 Mbps     1 non-null      float64
 75  64 Mbps     1 non-null      float64
 76  65 Mbps     2 non-null      float64
 77  66 Mbps     1 non-null      float64
 78  70 Mbps     17 non-null     float64
 79  75 Mbps     231 non-null    float64
 80  78 Mbps     1 non-null      float64
 81  80 Mbps     31 non-null     float64
 82  83 Mbps     1 non-null      float64
dtypes: float64(79), object(4)
memory usage: 2.0+ MB

In [259]:
df_accesovelocidad_local.describe()

,Otros,"0,256 Mbps","0,375 Mbps","0,5 Mbps","0,512 Mbps","0,625 Mbps","0,75 Mbps",1 Mbps,"1,25 Mbps","1,5 Mbps",...,61 Mbps,62 Mbps,64 Mbps,65 Mbps,66 Mbps,70 Mbps,75 Mbps,78 Mbps,80 Mbps,83 Mbps
count,962.000000,28.000000,1.0,643.000000,523.000000,1.0,284.000000,891.000000,1.0,15.000000,...,3.000000,1.0,1.0,2.000000,1.0,17.000000,231.000000,1.0,31.000000,1.0
mean,50.369203,3.464286,225.0,4.141316,2.214149,111.0,34.990518,54.715587,25.0,54.611333,...,26.000000,1.0,4.0,7.000000,1.0,65.386588,235.630571,2.0,109.028774,1.0
std,124.276225,6.511995,NaN,20.820317,5.000386,NaN,91.461942,113.513534,NaN,51.538753,...,6.244998,NaN,NaN,8.485281,NaN,140.742674,233.348746,NaN,238.166693,NaN
min,-4.000000,1.000000,225.0,0.000000,1.000000,111.0,1.000000,0.000000,25.0,1.170000,...,19.000000,1.0,4.0,1.000000,1.0,1.000000,1.000000,2.0,1.000000,1.0
25%,1.000000,1.000000,225.0,1.000000,1.000000,111.0,3.000000,2.031500,25.0,20.500000,...,23.500000,1.0,4.0,4.000000,1.0,2.000000,43.500000,2.0,2.807500,1.0
50%,4.000000,1.000000,225.0,1.000000,1.000000,111.0,9.000000,11.000000,25.0,42.000000,...,28.000000,1.0,4.0,7.000000,1.0,12.000000,173.000000,2.0,13.000000,1.0
75%,30.000000,3.000000,225.0,2.500000,1.000000,111.0,27.250000,47.000000,25.0,62.000000,...,29.500000,1.0,4.0,10.000000,1.0,91.000000,346.500000,2.0,88.500000,1.0
max,950.000000,31.000000,225.0,451.000000,61.000000,111.0,908.000000,994.000000,25.0,192.000000,...,31.000000,1.0,4.0,13.000000,1.0,582.000000,998.000000,2.0,952.000000,1.0

In [260]:
# Identificando valores faltantes en cada columna
missing_values = df_accesovelocidad_local.isnull().sum()

In [261]:
# Eliminando duplicados
duplicated_rows = df_accesovelocidad_local[df_accesovelocidad_local.duplicated()]

####  Archivo Historico velocidad internet

In [262]:
df_historico_velocidad = pd.read_csv ("historico_velocidad_internet.csv")

In [263]:
df_historico_velocidad.head()

    Año  Trimestre  Mbps (Media de bajada)    Trimestre.1
0  2022          4                  10.656   Oct-Dic 2022
1  2022          3                   6.246  Jul-Sept 2022
2  2022          2                   5.844   Abr-Jun 2022
3  2022          1                   5.511   Ene-Mar 2022
4  2021          4                   5.234   Oct-Dic 2021

In [264]:
df_historico_velocidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     36 non-null     int64
 1   Trimestre               36 non-null     int64
 2   Mbps (Media de bajada)  36 non-null     float64
 3   Trimestre.1             36 non-null     object
dtypes: float64(1), int64(2), object(1)
memory usage: 1.3+ KB

In [265]:
df_historico_velocidad.describe()

               Año  Trimestre  Mbps (Media de bajada)
count    36.000000  36.000000               36.000000
mean   2018.000000   2.500000              221.615333
std       2.618615   1.133893              275.439068
min    2014.000000   1.000000                1.201000
25%    2016.000000   1.750000                3.520500
50%    2018.000000   2.500000                5.677500
75%    2020.000000   3.250000              461.000000
max    2022.000000   4.000000              834.000000

In [266]:
# Identificando valores faltantes en cada columna
missing_values = df_historico_velocidad.isnull().sum()

In [267]:
# Eliminando duplicados
duplicated_rows = df_historico_velocidad[df_historico_velocidad.duplicated()]

####  Archivo Internet Accesos por tecnologia

In [268]:
df_internet_tecnologia = pd.read_csv ("Internet_Accesos-por-tecnologia.csv")

In [269]:
df_internet_tecnologia.head()

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
0,2022,4,1,6,3,573,222,11,Oct-Dic 2022
1,2022,3,1,6,3,557,235,11,Jul-Sept 2022
2,2022,2,1,6,3,556,232,11,Abr-Jun 2022
3,2022,1,2,6,2,546,252,11,Ene-Mar 2022
4,2021,4,2,6,2,523,253,10,Oct-Dic 2021

In [270]:
df_internet_tecnologia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           36 non-null     int64
 1   Trimestre     36 non-null     int64
 2   ADSL          36 non-null     int64
 3   Cablemodem    36 non-null     int64
 4   Fibra óptica  36 non-null     int64
 5   Wireless      36 non-null     int64
 6   Otros         36 non-null     int64
 7   Total         36 non-null     int64
 8   Periodo       36 non-null     object
dtypes: int64(8), object(1)
memory usage: 2.7+ KB

In [271]:
df_internet_tecnologia.describe

<bound method NDFrame.describe of      Año  Trimestre  ADSL  Cablemodem  Fibra óptica  Wireless  Otros  Total  \
0   2022          4     1           6             3       573    222     11
1   2022          3     1           6             3       557    235     11
2   2022          2     1           6             3       556    232     11
3   2022          1     2           6             2       546    252     11
4   2021          4     2           6             2       523    253     10
5   2021          3     2           6             2       492    250     10
6   2021          2     2           6             1       477    254     10
7   2021          1     2           5             1       435    250     10
8   2020          4     2           5             1       422    253     10
9   2020          3     2           5             1       413    249      9
10  2020          2     2           5             1       377    247      9
11  2020          1     2           5             1       352    209      9
12  2019          4     2           5           941       340    213      9
13  2019          3     3           5           852       338    264      9
14  2019          2     3           5           761       308    265      9
15  2019          1     3           4           637       276    166      9
16  2018          4     3           4           388       264    178      8
17  2018          3     4           4           247       246     94      8
18  2018          2     4           4           226       194     95      8
19  2018          1     4           4           217       165     99      8
20  2017          4     4           4           211       156    101      8
21  2017          3     4           4           194       106    132      8
22  2017          2     4           3           181        86     56      7
23  2017          1     4           3           180        85     56      7
24  2016          4     4           3           178        85     55      7
25  2016          3     4           3           170        81     54      7
26  2016          2     4           3           168        85     59      7
27  2016          1     4           3           164        85     59      7
28  2015          4     4           3           139        86     59      7
29  2015          3     4           3           163        85     59      7
30  2015          2     4           3           151        82     59      7
31  2015          1     4           3           168        79     66      7
32  2014          4     4           3           150        77     72      7
33  2014          3     4           3           155        85     70      7
34  2014          2     4           2           149        72     72      6
35  2014          1     4           2           150        71     73      6

          Periodo
0    Oct-Dic 2022
1   Jul-Sept 2022
2    Abr-Jun 2022
3    Ene-Mar 2022
4    Oct-Dic 2021
5   Jul-Sept 2021
6    Abr-Jun 2021
7    Ene-Mar 2021
8    Oct-Dic 2020
9   Jul-Sept 2020
10   Abr-Jun 2020
11   Ene-Mar 2020
12   Oct-Dic 2019
13  Jul-Sept 2019
14   Abr-Jun 2019
15   Ene-Mar 2019
16   Oct-Dic 2018
17  Jul-Sept 2018
18   Abr-Jun 2018
19   Ene-Mar 2018
20   Oct-Dic 2017
21  Jul-Sept 2017
22   Abr-Jun 2017
23   Ene-Mar 2017
24   Oct-Dic 2016
25  Jul-Sept 2016
26   Abr-Jun 2016
27   Ene-Mar 2016
28   Oct-Dic 2015
29  Jul-Sept 2015
30   Abr-Jun 2015
31   Ene-Mar 2015
32   Oct-Dic 2014
33  Jul-Sept 2014
34   Abr-Jun 2014
35   Ene-Mar 2014  >

In [272]:
# Identificando valores faltantes en cada columna
missing_values = df_internet_tecnologia.isnull().sum()

In [273]:
# Eliminando duplicados
duplicated_rows = df_internet_tecnologia[df_internet_tecnologia.duplicated()]

####  Archivo Internet accesos por velocidad

In [274]:
df_internet_velocidad = pd.read_csv ("Internet_Accesos-por-velocidad.csv")

In [275]:
df_internet_velocidad.head()

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total
0,2022,4,31.981,85.668,1.075.272,1.109.421,765.015,335.573,7.410.902,394.282,11.208.114
1,2022,3,33.013,96.727,1.161.370,1.151.906,823.505,479.822,6.995.750,349.035,11.091.128
2,2022,2,33.667,99.498,1.193.090,1.197.030,856.562,485.321,6.741.922,351.594,10.958.684
3,2022,1,34.890,104.840,1.263.273,1.209.148,967.508,509.830,6.336.187,198.333,10.624.009
4,2021,4,41.262,28.521,1.413.208,1.245.333,976.539,558.358,6.032.322,194.251,10.489.794

In [276]:
df_internet_velocidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Año                      36 non-null     int64
 1   Trimestre                36 non-null     int64
 2   Hasta 512 kbps           36 non-null     float64
 3   Entre 512 Kbps y 1 Mbps  36 non-null     float64
 4   Entre 1 Mbps y 6 Mbps    36 non-null     object
 5   Entre 6 Mbps y 10 Mbps   36 non-null     object
 6   Entre 10 Mbps y 20 Mbps  36 non-null     object
 7   Entre 20 Mbps y 30 Mbps  36 non-null     object
 8   Más de 30 Mbps           36 non-null     object
 9   OTROS                    36 non-null     float64
 10  Total                    36 non-null     object
dtypes: float64(3), int64(2), object(6)
memory usage: 3.2+ KB

In [277]:
df_internet_velocidad.describe()

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,OTROS
count,36.000000,36.000000,36.000000,36.000000,36.000000
mean,2018.000000,2.500000,49.571639,239.046083,126.059500
std,2.618615,1.133893,52.406959,198.205545,120.429286
min,2014.000000,1.000000,5.675000,28.521000,0.000000
25%,2016.000000,1.750000,28.412500,74.491750,0.000000
50%,2018.000000,2.500000,38.879500,216.701500,155.810000
75%,2020.000000,3.250000,41.184000,389.368250,199.011250
max,2022.000000,4.000000,241.713000,687.619000,394.282000

In [278]:
# Identificando valores faltantes en cada columna
missing_values = df_internet_velocidad.isnull().sum()

In [279]:
# Eliminando duplicados
duplicated_rows = df_internet_velocidad[df_internet_velocidad.duplicated()]

####  Archivo Internet BAF

In [280]:
df_Baf = pd.read_csv ("Internet_BAF.csv")

In [281]:
df_Baf.head()

    Año  Trimestre  Banda ancha fija  Dial up  Total        Periodo
0  2022          4                11       12     11   Oct-Dic 2022
1  2022          3                11       12     11  Jul-Sept 2022
2  2022          2                11       12     11   Abr-Jun 2022
3  2022          1                11       13     11   Ene-Mar 2022
4  2021          4                10       13     10   Oct-Dic 2021

In [282]:
df_Baf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               36 non-null     int64
 1   Trimestre         36 non-null     int64
 2   Banda ancha fija  36 non-null     int64
 3   Dial up           36 non-null     int64
 4   Total             36 non-null     int64
 5   Periodo           36 non-null     object
dtypes: int64(5), object(1)
memory usage: 1.8+ KB

In [283]:
df_Baf.describe()

               Año  Trimestre  Banda ancha fija    Dial up      Total
count    36.000000  36.000000         36.000000  36.000000  36.000000
mean   2018.000000   2.500000          8.361111  23.083333   8.361111
std       2.618615   1.133893          1.495761  10.171037   1.495761
min    2014.000000   1.000000          6.000000  10.000000   6.000000
25%    2016.000000   1.750000          7.000000  12.000000   7.000000
50%    2018.000000   2.500000          8.000000  27.000000   8.000000
75%    2020.000000   3.250000          9.250000  32.250000   9.250000
max    2022.000000   4.000000         11.000000  39.000000  11.000000

In [221]:
# Identificando valores faltantes en cada columna
missing_values = df_Baf.isnull().sum()

In [222]:
# Eliminando duplicados
duplicated_rows = df_Baf[df_Baf.duplicated()]

####  Archivo Internet Ingresos

In [223]:
df_ingresos = pd.read_csv ("Internet_Ingresos.csv")

In [224]:
df_ingresos.head()

    Año  Trimestre  Ingresos (miles de pesos)        Periodo
0  2022          4                         72   Oct-Dic 2022
1  2022          3                         64  Jul-Sept 2022
2  2022          2                         60   Abr-Jun 2022
3  2022          1                         55   Ene-Mar 2022
4  2021          4                         45   Oct-Dic 2021

In [225]:
df_ingresos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        36 non-null     int64
 1   Trimestre                  36 non-null     int64
 2   Ingresos (miles de pesos)  36 non-null     int64
 3   Periodo                    36 non-null     object
dtypes: int64(3), object(1)
memory usage: 1.3+ KB

In [226]:
df_ingresos.describe()

               Año  Trimestre  Ingresos (miles de pesos)
count    36.000000  36.000000                  36.000000
mean   2018.000000   2.500000                  21.888889
std       2.618615   1.133893                  19.239510
min    2014.000000   1.000000                   3.000000
25%    2016.000000   1.750000                   6.750000
50%    2018.000000   2.500000                  14.500000
75%    2020.000000   3.250000                  32.500000
max    2022.000000   4.000000                  72.000000

In [227]:
# Identificando valores faltantes en cada columna
missing_values = df_ingresos.isnull().sum()

In [228]:
# Eliminando duplicados
duplicated_rows = df_ingresos[df_ingresos.duplicated()]

####  Archivo Internet penetracion

In [229]:
df_penetracion = pd.read_csv ("Internet_Penetracion.csv")

In [230]:
df_penetracion.head()

,Año,Trimestre,Provincia,Accesos por cada 100 hogares,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,2022,4,Buenos Aires,"78,94",NaN,NaN,NaN
1,2022,4,Capital Federal,"122,73",NaN,NaN,NaN
2,2022,4,Catamarca,"65,77",NaN,NaN,NaN
3,2022,4,Chaco,"43,62",NaN,NaN,NaN
4,2022,4,Chubut,"85,57",NaN,NaN,NaN

In [231]:
df_penetracion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           864 non-null    int64
 1   Trimestre                     864 non-null    int64
 2   Provincia                     864 non-null    object
 3   Accesos por cada 100 hogares  864 non-null    object
 4   Unnamed: 4                    0 non-null      float64
 5   Unnamed: 5                    0 non-null      float64
 6   Unnamed: 6                    0 non-null      float64
dtypes: float64(3), int64(2), object(2)
memory usage: 47.4+ KB

In [232]:
df_penetracion.describe()

               Año   Trimestre  Unnamed: 4  Unnamed: 5  Unnamed: 6
count   864.000000  864.000000         0.0         0.0         0.0
mean   2018.000000    2.500000         NaN         NaN         NaN
std       2.583484    1.118682         NaN         NaN         NaN
min    2014.000000    1.000000         NaN         NaN         NaN
25%    2016.000000    1.750000         NaN         NaN         NaN
50%    2018.000000    2.500000         NaN         NaN         NaN
75%    2020.000000    3.250000         NaN         NaN         NaN
max    2022.000000    4.000000         NaN         NaN         NaN

In [233]:
# Identificando valores faltantes en cada columna
missing_values = df_penetracion.isnull().sum()

In [234]:
# Eliminando duplicados
duplicated_rows = df_penetracion[df_penetracion.duplicated()]

####  Archivo Listado de localidades con conectividad a internet

In [235]:
df_listado = pd.read_csv ("Listadodelocalidadesconconectividadainternet_2750221699363721962.csv")

In [236]:
df_listado.head()

,Provincia,Partido,Localidad,ADSL,Cablemódem,Dial Up,Fibra óptica,4G,3G,Telefonía Fija,Wireless,Satelital
0,BUENOS AIRES,9 de Julio,Alfredo Demarchi (Est. Facundo Quiroga),SI,--,--,--,SI,SI,SI,--,--
1,BUENOS AIRES,9 de Julio,Carlos María Naón,--,--,--,--,SI,SI,SI,--,--
2,BUENOS AIRES,9 de Julio,Dudignac,--,--,SI,--,SI,SI,SI,SI,--
3,BUENOS AIRES,9 de Julio,La Aurora (Est. La Niña),--,--,--,--,SI,--,--,--,--
4,BUENOS AIRES,9 de Julio,Manuel B. Gonnet (Est. French),SI,--,--,SI,SI,SI,SI,--,--

In [237]:
df_listado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4311 entries, 0 to 4310
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Provincia       4311 non-null   object
 1   Partido         4311 non-null   object
 2   Localidad       4311 non-null   object
 3   ADSL            4311 non-null   object
 4   Cablemódem      4311 non-null   object
 5   Dial Up         4311 non-null   object
 6   Fibra óptica    4311 non-null   object
 7   4G              4311 non-null   object
 8   3G              4311 non-null   object
 9   Telefonía Fija  4311 non-null   object
 10  Wireless        4311 non-null   object
 11  Satelital       4311 non-null   object
dtypes: object(12)
memory usage: 404.3+ KB

In [238]:
df_listado.describe()

,Provincia,Partido,Localidad,ADSL,Cablemódem,Dial Up,Fibra óptica,4G,3G,Telefonía Fija,Wireless,Satelital
count,4311,4311,4311,4311,4311,4311,4311,4311,4311,4311,4311,4311
unique,24,444,3912,2,2,2,2,2,2,2,2,2
top,BUENOS AIRES,General Roca,San Pedro,--,--,--,--,SI,--,SI,SI,--
freq,901,84,12,3182,3448,3908,2784,2574,2431,2243,2224,3248

In [239]:
# Identificando valores faltantes en cada columna
missing_values = df_listado.isnull().sum()

In [240]:
# Eliminando duplicados
duplicated_rows = df_listado[df_listado.duplicated()]

### Para la realizacion del Kpi voy a utilizar el archivo de penetracion y Baf que me indican la penetracion por provincia a los hogares con internet

In [241]:
# Elimino las  columnas sin datos
df_penetracion2 = df_penetracion.drop(df_penetracion.columns[df_penetracion.isna().all()], axis=1)

In [242]:
df_penetracion2.head()

    Año  Trimestre        Provincia Accesos por cada 100 hogares
0  2022          4     Buenos Aires                        78,94
1  2022          4  Capital Federal                       122,73
2  2022          4        Catamarca                        65,77
3  2022          4            Chaco                        43,62
4  2022          4           Chubut                        85,57

In [243]:
df_penetracion2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           864 non-null    int64
 1   Trimestre                     864 non-null    int64
 2   Provincia                     864 non-null    object
 3   Accesos por cada 100 hogares  864 non-null    object
dtypes: int64(2), object(2)
memory usage: 27.1+ KB

In [244]:
# Cambio el tipo de dato y reemplazo comas por los puntos.
df_penetracion2['Accesos por cada 100 hogares'] = df_penetracion2['Accesos por cada 100 hogares'].apply(lambda x: float(str(x).replace(',', '.')))

In [245]:
df_penetracion2.head()

    Año  Trimestre        Provincia  Accesos por cada 100 hogares
0  2022          4     Buenos Aires                         78.94
1  2022          4  Capital Federal                        122.73
2  2022          4        Catamarca                         65.77
3  2022          4            Chaco                         43.62
4  2022          4           Chubut                         85.57

In [246]:
df_penetracion2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           864 non-null    int64
 1   Trimestre                     864 non-null    int64
 2   Provincia                     864 non-null    object
 3   Accesos por cada 100 hogares  864 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 27.1+ KB

In [247]:
# Concatenenado mis dataframe

df_concatenado = pd.concat([df_penetracion2, df_Baf], axis=1)


df_concatenado = df_concatenado.reset_index(drop=True)

In [248]:
df_concatenado.head()

,Año,Trimestre,Provincia,Accesos por cada 100 hogares,Año,Trimestre,Banda ancha fija,Dial up,Total,Periodo
0,2022,4,Buenos Aires,78.94,2022.0,4.0,11.0,12.0,11.0,Oct-Dic 2022
1,2022,4,Capital Federal,122.73,2022.0,3.0,11.0,12.0,11.0,Jul-Sept 2022
2,2022,4,Catamarca,65.77,2022.0,2.0,11.0,12.0,11.0,Abr-Jun 2022
3,2022,4,Chaco,43.62,2022.0,1.0,11.0,13.0,11.0,Ene-Mar 2022
4,2022,4,Chubut,85.57,2021.0,4.0,10.0,13.0,10.0,Oct-Dic 2021

In [249]:
# guardo el dataframe en un archivo cvs
df_concatenado.to_csv('concatenado.csv', index=False)

### Para la realizacion del segundo Kpi voy a utilizar los archivos de velocidad que me indican las mediciones de velocidad de internet por trimestre

In [88]:
# Guardar el DataFrame concatenado en un archivo CSV

df_internet_velocidad = pd.read_csv('Internet_Accesos-por-velocidad.csv')
df_historico_velocidad = pd.read_csv('historico_velocidad_internet.csv')
df_accesovelocidad_local = pd.read_csv('AccesosaInternetfijoporvelocidaddebajadaylocalidad_2776171699363662004.csv')
df_accesovelocidad_pro = pd.read_csv('AccesosaInternetfijoporvelocidadbajadayprovincia_2791741699447503120.csv')

df_velocidad = pd.concat([df_internet_velocidad, df_historico_velocidad, df_accesovelocidad_local, df_accesovelocidad_pro], ignore_index=True)

df_velocidad.to_csv('velocidad.csv', index=False)

In [91]:
df_velocidad.head()

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,...,37 Mbps,47 Mbps,52 Mbps,54 Mbps,56 Mbps,63 Mbps,67 Mbps,68 Mbps,71 Mbps,77 Mbps
0,2022.0,4.0,31.981,85.668,1.075.272,1.109.421,765.015,335.573,7.410.902,394.282,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022.0,3.0,33.013,96.727,1.161.370,1.151.906,823.505,479.822,6.995.750,349.035,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022.0,2.0,33.667,99.498,1.193.090,1.197.030,856.562,485.321,6.741.922,351.594,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022.0,1.0,34.890,104.840,1.263.273,1.209.148,967.508,509.830,6.336.187,198.333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021.0,4.0,41.262,28.521,1.413.208,1.245.333,976.539,558.358,6.032.322,194.251,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
# Elimino las  columnas sin datos
df_velocidad = df_velocidad.drop(df_velocidad.columns[df_velocidad.isna().all()], axis=1)

In [90]:
df_velocidad.head()

,Año,Trimestre,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,...,37 Mbps,47 Mbps,52 Mbps,54 Mbps,56 Mbps,63 Mbps,67 Mbps,68 Mbps,71 Mbps,77 Mbps
0,2022.0,4.0,31.981,85.668,1.075.272,1.109.421,765.015,335.573,7.410.902,394.282,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022.0,3.0,33.013,96.727,1.161.370,1.151.906,823.505,479.822,6.995.750,349.035,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022.0,2.0,33.667,99.498,1.193.090,1.197.030,856.562,485.321,6.741.922,351.594,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022.0,1.0,34.890,104.840,1.263.273,1.209.148,967.508,509.830,6.336.187,198.333,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021.0,4.0,41.262,28.521,1.413.208,1.245.333,976.539,558.358,6.032.322,194.251,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN